<form method="post" action="{{ path('descriptions_delete', {'id': description.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ description.id) }}">

	<button class="mdc-button mdc-button--outlined outlined-button--secondary mdc-ripple-upgraded">
		<i class="material-icons mdc-button__icon">delete</i>
		Supprimer
	</button>
</form>
