<form method="post" action="{{ path('controlleurs_delete', {'id': controlleur.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce controlleur ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ controlleur.id) }}">

	<button class="mdc-button mdc-button--outlined outlined-button--secondary mdc-ripple-upgraded">
		<i class="material-icons mdc-button__icon">delete</i>
		Supprimer
	</button>
</form>
